.*.swp
.*.swo
build/*
*/__pycache__/*
compile_commands.json
docker/coinhsl
cmake-*
iteration_histogram.txt
time_histogram.txt
.cache/
GRTAGS
GTAGS
GPATH
tags
__pycache__
.vimspector.json
setup_python_env.py
setup_python_env.sh
